#content {
    color: #2f2e30;
    text-align: center;        
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 10px; 
    background-image:linear-gradient(#99db4977, #9e064a77, #552ce899, #e84b2c77 );
}

input {
    text-align: left;
    padding: 5px;
    background: #adacac;
    border: 3px solid #2f2e30; 
    box-shadow: 5px  3px #575757;
    border-radius: 10px;    
    width: 100px;    
    
}

ul {   
    list-style-position: inside;    
}   

li {
    text-align: left;
    list-style-type: none;      
    color: #2f2e30;   
    font-weight: bold;   
    font-size: 100%; 
}

.button {
    border-bottom-color: #9e064a;
    color: rgb(6, 41, 2);    
    text-align: center;   
    border-radius: 15px;
    box-shadow: 3PX 3PX #575757;
    cursor: pointer;
    width: 120px;
    height: 30px;
    margin: 5px;
}

#botaoMultiplicar{
    background-color: #99db49;
}

#botaoDividir{
    background-color: #9e064a;
}

#botaoSomar{
    background-color: #552ce8;
}

#botaoSubtrair{
    background-color: #e84b2c;
}